/* This file has been placed in the public domain. */

/* required to make the slide show run at all */
@import url(s5-core.css);

/* sets basic placement and size of slide components */
@import url(framing.css);

/* styles that make the slides look good */
@import url(pretty.css);

.slide { padding: 0.3em 1em; }

.slide p { margin: 0.4em; }

.align-center { display: block; margin-left: auto; margin-right: auto; }

.slide h1 { font-style: oblique; color: #EFC; font-size: 1.2em; }

.highlight { font-size: 70%; margin-left: 2em; }

blockquote { font-family: Georgia; font-style: italic; padding-bottom: 0; margin-top: 0.5em; }

div#header { height: 2.3em; background-color: #222; border-bottom: #333 2px solid; }

div#footer { height: 2.0em; background-color: #555; padding: 0.4em; border-top: #333 2px solid; }

a.external:after { content: ""; }

#slide0 h1 { margin-top: 2em; }

/* * { font-size: 100%; } */

.field-list { margin-top: 1em; }
